
.link{
    cursor: pointer;
}
.burgur{
    height: 20px;
    width: 16px;
    /* display: flex; */
    display: none;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.line{
    width: 100%;
    height: 2px;
    background-color: var(--textColor);

}

.responsiveMenu{
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--bg);
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    font-size: 26px;

}
@media (max-width:640px) {
    .burgur{
        display: flex;
        /* justify-content: center; */
    }
    .link{
        display: none;
    }
}